<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Refugee. Reporting subsystem</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>

    <script src="../../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/jquery.maskedinput.min.js" th:src="@{/resources/js/jquery.maskedinput.min.js}"></script>
    <script src="../../../resources/js/process.js" th:src="@{/resources/js/process.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1>Refugee</h1>
        <p class="lead">
            Reporting subsystem
        </p>
<br>
        <div class="row">
            <div class="col-md-4" align="right">
                <h4> Reporting period</h4>
            </div>
            <div class="col-md-2">
                <input id='fromDate' type='text' class="form-control"/>
            </div>
            <div class="col-md-2">
                <input id='toDate' type='text' class="form-control"/>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
        <h3><a th:href="@{/}" id="appname"></a></h3>
        <h3><a href="" id="refQuery1" class="ahref">Number of new clients</a></h3>
        <h3><a href="" id="refQuery3" class="ahref">Table 1: Cases de-activated</a></h3>
        <h3><a href="" id="refQuery4" class="ahref">Table 2: Population group</a></h3>
        <h3><a href="" id="refQuery5" class="ahref">Table 3: New asylum seekers registered</a></h3>
        <h3><a href="" id="refQuery6" class="ahref">Table 4: Registration interviews</a></h3>
        <h3><a href="" id="refQuery7" class="ahref">Reporting on court cases</a></h3>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>